@font-face {
    font-family: 'Roboto';
    src: url(./Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 400;
}

button {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 390px;
    height: 740px;
    border: 1px solid saddlebrown;
}

.wrap {
    margin-top: 50px;
    height: 640px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
    position: relative;
}

.wrap-category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-categorys {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 355px;
    row-gap: 15px;
    justify-content: space-between;
    /* height: 500px; */
    overflow-y: auto;
}

.all-categorys::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}



.disabled {
    pointer-events: none;
}

.category.selected.selected {
    border: 2px solid #ff0000;
    background-color: rgba(255, 0, 0, 0.1);
}

.category {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    width: 170px;
    height: 100px;
    padding: 15px;
    position: relative;
}

.category h2 {
    font-size: 18px;
}

.category-buttons {
    margin-top: 15px;
    display: flex;
}



/* input */

.plus,
.minus {
    width: 20px;

    border: none;
    background-color: rgba(100, 100, 1, 0);
    font-size: 15px;
}

input[type="text"] {

    background: transparent;
    text-align: center;
    font-size: 22px;
}

input:focus {
    outline: none;
}

.money-input {
    width: 100px;
    align-items: center;
    border: none;
    background-color: rgba(100, 100, 1, 0);
    padding: 2px;
}




/* add */


.input-budget {
    width: 150px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 3px;
}

#add-category {
    width: 180px;
    height: 40px;
    font-size: 15px;
    margin-top: 20px;
    /* position: absolute;
    bottom: 0; */
}


/* edit */

#edit {
    position: absolute;
    top: 56px;
    right: 20px;
}

/* modal */

#modal {
    border: 1px solid #000;
    background-color: #fff;
    z-index: 100;

    padding: 15px 20px;
    display: none;
    position: absolute;

    top: 50%;

}

#modal h3 {
    margin-bottom: 10px;
}

#modal div:last-of-type {
    margin-top: 10px;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
}

#modal::after {
    /* content: 'введите категорию'; */
    background-color: #ffd86e;
    position: absolute;
    top: 59%;
    left: 7%;
    padding: 6px 10px;
}



/* animation */


@keyframes wiggle {
    5% {
        transform: rotate(5deg);
    }

    10% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(-5deg);
    }

    20% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(0deg);
    }

    35% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(0deg);
    }

    45% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    55% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(0deg);
    }

    65% {
        transform: rotate(-5deg);
    }

    70% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(0deg);
    }

    85% {
        transform: rotate(-5deg);
    }

    90% {
        transform: rotate(0deg);
    }

    95% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }

    /* 105% {transform: rotate(5deg);} */
}


.select-to-delete {
    display: none;
    position: absolute;
    top: 15%;
    z-index: 10;
}

.categoty.selected {
    border: 2px solid #ff0000;
    background-color: rgba(255, 0, 0, 0.1);
}

.delete-button {
    background-image: url('../img/icons8-trash (2).svg');
    /* background-color: #ff0000; */
    height: 46px;
    width: 46px;
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 10;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}

.my-budget {
    position: fixed;
    bottom: 80px;
}

.wrap h1 {
    padding-bottom: 110px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.category-name-hint {
    display: none;
}

.category-name-hint.show {
    display: block;
    color: tomato;
    /* margin-top: 10px; */
    background-color: #fff8a9;
    /* width: 160px; */
    display: flex;
    justify-content: center;
    align-items: center;
}